=list($margin-left: 16px, $margin-bottom: 24px, $list-style-type: disc, $list-style-potision: outside, $icon-size: 1em, $icon-potition: 0.42em, $icon-width: 1.7em)
  +rem('margin-left', $margin-left)
  +rem('margin-bottom', $margin-bottom)
  @if $list-style-type
    @if list-style-type($list-style-type)
      list-style-type: $list-style-type
      list-style-position: $list-style-potision
    @else if $list-style-type == "fa"
      margin-left: $icon-width
      list-style-type: none
      >li
        +relative
        &:before
          +fa
          +text-block($icon-size, 1, false, center)
          content: "#{$list-style-potision}"
          +absolute(left, $icon-width * -1, top, $icon-potition)
          width: $icon-width
