// http://codepen.io/MadeByMike/pen/FoBjq

@function luma($color)
  // Adapted from: https://gist.github.com/voxpelli/6304812
  $rgba: red($color), green($color), blue($color)
  $rgba2: ()
  @for $i from 1 through 3
    $rgb: nth($rgba, $i)
    $rgb: $rgb / 255
    $rgb: if($rgb < 0.03928, $rgb / 12.92, pow(($rgb + 0.055) / 1.055, 2.4))
    $rgba2: append($rgba2, $rgb)
  @return (0.2126 * nth($rgba2, 1) + 0.7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3)) * 100

@function bright-or-dark($color)
  $bright-color: #ffffff !default
  $dark-color: #000000 !default
  @return if(luma($color) < 51, dark, bright)

@function contrast-overlay($color)
  $bright-color: #ffffff !default
  $dark-color: #000000 !default
  @return if(bright-or-dark($color) == bright, $bright-color, $dark-color)

@function luma-difference($color-1, $color-2)
  @return luma($color-1) - luma($color-2)
